
.login-box {
    width: 50%; 
}

/*caja del estado del usuario*/

.box-content{
    padding: 10px;
        max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.box-status {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    min-height: 15vh;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    background: linear-gradient(to top, #e3e7f0, #cfd9ef);
    border: 1px solid rgb(155, 181, 236);
}


.profile-picture {
    grid-column: 1;
    grid-row: span 3;
    height: 100%;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(90, 135, 232);
}

.profile-picture::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.user-info {
    display: flex;
    align-items: flex-end;
    grid-column: 2; 
    margin-bottom: 10px;    
}

.user-info, .personal-msj {
    flex: 1;
}

.personal-msj input {
    outline: 0;
    border-width: 0 0 0px;
    background: transparent;
  }

.personal-msj input :focus {
    border-color: green;
    outline: 1px dotted #000
  }

/* caja de usuarios activos */

.box-users-head {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #e3e7f0, #cfd9ef); 
    border: 1px solid rgb(155, 181, 236);    
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.box-users-content {
    width: 85%;
    height: auto;
    background: linear-gradient(to top, #e3e7f0, #cfd9ef); 
    border: 1px solid rgb(155, 181, 236);    
    margin-left: auto;
}

.alert, .add {
    font-size: 14px;
    text-decoration: underline;
    color: rgb(19, 19, 148);
    padding: 5px;
    display: flex;
    align-items: center;
}

.alert img, .add img {
    margin-right: 5px;
}

.alert {
    background-color: #fffce4;
    z-index: 100;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(19, 19, 148);
    border: solid 1.5px #0d5bcf;
    padding: 5px;
}

.user {
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user:hover {
    background-color: #c0c0c0; 
}

.user img {
    height: 15px;
    margin-left: 5px;
}

ul {
    padding: 5px;
    background-color: #f7f7f7;
    margin: 0;
    margin-bottom: 7px;
    overflow: hidden;
}

.img-marca {
    padding: 10px 10px 0; 
}

.img-marca img {
    width: 100%;
    height: 15vh;
    border: solid 1.5px #0d5bcf;
}

.search {
    padding: 10px;
}

.search input {
    width: 70%;
}


@media only screen and (max-width: 768px) {
    .login-box {
        width: 90%; 
    }

    .profile-picture {
        width: 10vh;
    }
}