

.login-box {
    width: 92%;
}


/* cabecera */ 

.box-msj-head {
    background: linear-gradient(#efebf9, #b3a7dd, #efebf9);
    width: 55%;
    display: flex;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #4628b4;
overflow: hidden;
}

.icons {
    display: inline-block;      
    justify-items: center;
    margin-left: 15px;
}

.icons img{
    height: 40px;    
    display: block;
}

.icons span {
    font-size: 13px;
}

/* contenido */

.box-msj-content {
    display: flex;
    padding: 10px;
    overflow: hidden;
  }

  .box-conversation-container {
    flex-direction: column;
  }

  .box-conversation {
    border-radius: 10px;
    padding: 10px;
    font-size: 13px; 
    height: 50vh;
    width: 65vh;
    border: 1px solid #4628b4;
    word-wrap: break-word;
    overflow-y: auto;
  }
  

  .box-conversation, .start, .end, .box-input {
    background-color: rgba(248, 244, 244, 0.6);
}


  .box-pfps {
    margin-left: 10px;
    width: 19vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio horizontalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos verticalmente */
  }


  .box-pfps img {
    width: 19vh;
    height: 17vh;
  }

  .start {
    flex-direction: flex-start;
    width: 19vh;
    height: 17vh;
    border: 1px solid #4628b4;
    border-radius: 10px;
    overflow: hidden;
  }

  .end {
    flex-direction: flex-end;
    width: 19vh;
    height: 17vh;
    border: 1px solid #4628b4;
    border-radius: 10px;
    overflow: hidden;
  }

  .box-msj {
    background-image: url('/assets/wallpapers/peace.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }

  /* input */ 
  
  .box-input {
    flex: 40%;
    height: 15vh;
    width: 68vh;
    margin-top: 10px;
    border: 1px solid #4628b4;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .input-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background: linear-gradient(#efebf9, #b3a7dd, #efebf9);
    overflow: hidden;
    border: 1px solid #4628b4;
  }
  
  .group-emoji {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .group-emoji div {
    display: flex;
    align-items: center; /* Centra verticalmente dentro de .emoji */
    margin-left: 10px;
  }
  
  .group-emoji img {
    margin-top: 4px;
    height: 15px;
  }
  
  .group-emoji span {
    font-size: 10.5px;
  }

  .chat-input {
    display: flex;
    justify-content: space-between; /* Coloca los elementos en el centro verticalmente */
    height: 60%;
    overflow: hidden;
  }

  .chat-input textarea {
    width: 75%;
    height: 100%;
    outline: 0;
    border-width: 0 0 0px;
    background: transparent;
    resize: none;
  }

  .box-end, .box-start {
    padding: 5px;
    padding-bottom: 15px;
    background-color:  rgba(248, 244, 244, 0.6);
    border-radius: 10px;
    border: 1px solid #7d70b0;
  }

  .chat-input button {
    width: 20%;
    height: 80%;
    align-self: center;
    margin-right: 5px;
    background: linear-gradient(to bottom right, #e0dfe3, #e3e1e8);
    border: 3px solid #7d70b0;
    border-left: 1px solid #7d70b0; 
    border-radius: 5px;
    cursor: pointer;
    color: #89889c;
    font-family: 'Tahoma', sans-serif; 
    font-size: 14px; 
  }


  @media only screen and (max-width: 768px) {
    .box-msj-head {
      display: none;
    }

    .box-conversation-container {
      width: 33vh;
    }

    .box-conversation
    {
      width: 30vh;
    }

    .box-pfps {
      width: 10vh;
      height: 50.7vh;
      padding: 8px;
    }

   .start, .end {
    width: 10vh;
    height: 10vh;
   } 

   .box-pfps img {
    width: 10vh;
    height: 10vh;
  }

  .box-input {
    height: 15vh;
    width: 46vh;
  }

  .box-msj-content {
    overflow-x: auto;
  }
  
  }